input {
  background-color: transparent !important;
}

.styles__front___vcvuy-camelCase {
  background-color: #0B54FE !important;
}

.styles__edge___3eWfq-camelCase {
  background-color: #0B54FE !important;
}

.styles__front___vcvuy-camelCase {
  color: #ffffff !important;
}

.sexycontainer3 {
  background-color: #6f2f99 !important;
}

.sexycontainer {
  background-color: #8432DF !important;
}

.snipegui {
  background-color: #652B8C !important;
}

.snipegui {
  border: 3px solid #8839bd !important;
}

#chatDiv {
  background-color: #652B8C !important;
}

#chatDiv {
  border: 3px solid #8839bd !important;
}

.styles__background___2J-JA-camelCase {
  background-color: #8839bd !important;
}

.bb_chat_dl {
  background-color: #0B54FE !important;
}

.styles__sidebar___1XqWi-camelCase {
  background-color: #6f2f99 !important;
}

.styles__statsContainer___QnrRB-camelCase {
  background-color: #6f2f99 !important;
}

.styles__profileContainer___CSuIE-camelCase {
  background-color: #6f2f99 !important;
}

.styles__containerHeader___3xghM-camelCase {
  background-color: #0B54FE !important;
}

.styles__containerHeaderInside___2omQm-camelCase {
  background-color: #0B54FE !important;
}

.styles__containerHeaderRightFriends___3xghM-camelCase {
  background-color: #0B54FE !important;
}

.styles__statContainer___QKuOF-camelCase {
  background-color: #8432DF !important;
}

.styles__postsContainer___39_IQ-camelCase {
  background-color: #6f2f99 !important;
}

.styles__cardContainer___NGmjp-camelCase {
  background-color: #6f2f99 !important;
}

.styles__header___2O21B-camelCase {
  background-color: #6f2f99 !important;
}

.styles__chatInputContainer___gkR4A-camelCase {
  background-color: #6f2f99 !important;
}

.styles__chatEmojiButton___8RFa2-camelCase {
  background-color: #0B54FE !important;
}

.styles__container___1BPm9-camelCase {
  background-color: #6f2f99 !important;
}

.styles__chatRooms___o5ASb-camelCase {
  background-color: #6f2f99 !important;
}

.styles__editHeaderContainer___2G1ji-camelCase {
  background-color: #6f2f99 !important;
}

.styles__containerHeaderRight___3xghM-camelCase {
  background-color: #0B54FE !important;
}

.styles__containerHeader___3xghM-camelCase {
  background-color: #0B54FE !important;
}

.styles__chatEmojiPickerBody___KR4aN-camelCase {
  background-color: #6f2f99 !important;
}

.styles__chatEmojiPickerHeader___FK4Ac-camelCase {
  background-color: #0B54FE !important;
}

.styles__infoContainer___2uI-S-camelCase {
  background-color: #6f2f99 !important;
}

.styles__profileDropdownOption___ljZXD-camelCase {
  background-color: #6f2f99 !important;
}

.styles__blooksHolder___1skET-camelCase {
  background-color: #6f2f99 !important;
}

.styles__container___3St5B-camelCase {
  background-color: #6f2f99 !important;
}

.styles__blooketText___1pMBG-camelCase {
  color: #0B54FE !important;
}

.styles__chatRoomsButton___K4ABa-camelCase:hover {
  background-color: #6f2f99 !important;
}

hr {
  background-color: #0B54FE !important;
}

.styles__chatRoomsTitle___fR4Av-camelCase {
  color: #0B54FE !important;
}

.styles__chatEmojiPickerContainer___KR4aN-camelCase {
  background-color: #6f2f99 !important;
}

.styles__tokenBalance___1FHgT-camelCase {
  background-color: #6f2f99 !important;
}

.styles__instantButton___2ezEk-camelCase {
  background-color: #0B54FE !important;
}

.bb_packspam_btn {
  background-color: #0B54FE !important;
}

.styles__pageButton___1wFuu-camelCase:hover {
  background-color: #6f2f99 !important;
}

.styles__pageText___1eo7q-camelCase {
  color: #ffffff !important;
}

.styles__settingButton___2xaQu-camelCase {
  background-color: #0b54FE !important;
}

.styles__blooksHolder___3qZR1-camelCase {
  background-color: #8839bd !important;
}

.toastMessage {
  background-color: #6f2f99 !important;
}

.styles__header___WE435-camelCase {
  color: #ffffff !important;
}

.styles__header___22Ne2-camelCase {
  background-color: #6f2f99 !important;
}

.styles__middleWrapper___hjUyY-camelCase {
  background-color: #6f2f99 !important;
}

.styles__perkContainer___2rw2I-camelCase {
  background-color: #0B54FE !important;
}

.styles__plan___1OEy4-camelCase {
  background-color: #6f2f99 !important;
}

.styles__formsContainer___Fk4Av-camelCase {
  background-color: #6f2f99 !important;
}

.styles__formsForm___MvA35-camelCase {
  background-color: #0B54FE !important;
}

.styles__chatCurrentRoom___MCaV4-camelCase {
  background-color: #0B54FE !important;
}

.styles__profileContainer___CSuIE-camelCase:hover,
.styles__profileDropdownMenu___2jUAA-camelCase {
  background-color: #6f2f99 !important;
}

.styles__headerSide___1r1-b-camelCase {
  background-color: #6f2f99 !important;
}

.styles__signUpButton___3_ch3-camelCase {
  background-color: #0B52FE !important;
}

.styles__loginButton___1e3jI-camelCase {
  background-color: #0B52FE !important;
}

.styles__logoText___1eUDm-camelCase {
  color: #0B54FE !important;
}

.plugin {
  background-color: #8839bd !important;
}

.plugin {
  color: #301934 !important;
}

.styles__bazaarItemsContainer___GkAC2-camelCase {
  background-color: #6f2f99 !important;
}

.styles__bazaarItems___KmNa2-camelCase {
  background-color: #6f2f99 !important;
}

.styles__bazaarItem___Meg69-camelCase {
  background-color: #8839bd !important;
}

.styles__pageButton___1wFuu-camelCase:hover {
  color: #ffffff !important;
}

#bb_contextmenu {
  background-color: #6f2f99 !important;
}

.styles__chatMessageMention___2Z1ZU-camelCase {
  background-color: #8839bd !important;
}

.styles__levelBar___2SU0x-camelCase {
  background-color: #6f2f99 !important;
}

.styles__headerBadgeBg___12ogR-camelCase {
  background-color: #6f2f99 !important;
}

.styles__left___9beun-camelCase {
  background-color: #6f2f99 !important;
}

.mo {
  background-color: #6f2f99 !important;
}

.styles__container___2VzTy-camelCase {
  background-color: #6f2f99 !important;
}

.styles__toastContainer___o4pCa-camelCase {
  background-color: #6f2f99 !important;
}

.styles__tradingContainer___B1ABS-camelCase {
  background-color: #6f2f99 !important;
}

.styles__myTokenAmount___ANKHA-camelCase {
  background-color: #6f2f99 !important;
}

.styles__otherTokenAmount___SEGGS-camelCase {
  background-color: #6f2f99 !important;
}

.styles__blookGridContainer___AK47P-camelCase {
  background-color: #6f2f99 !important;
}

.styles__verticalBlookGridLine___rQWaZ-camelCase {
  background-color: #8839bd !important;
}

.styles__horizontalBlookGridLine___4SAvz-camelCase {
  background-color: #8839bd !important;
}

.jscolor-wrap div {
  background-color: #6f2f99 !important;
}

#formBody {
  background-color: #6f2f99 !important;
}

.toastMessage {
  border: 3px solid #8839bd !important;
}

.styles__chatRooms___o5ASb-camelCase {
  border: 3px solid #8839bd !important;
}

.styles__toastContainer___o4pCa-camelCase {
  border: 3px solid #8839bd !important;
}

.styles__profileContainer___CSuIE-camelCase {
  border: 3px solid #8839bd !important;
}

.styles__profileContainer___CSuIE-camelCase:hover,
.styles__profileDropdownMenu___2jUAA-camelCase {
  border: 3px solid #8839bd !important;
}

.styles__editHeaderContainer___2G1ji-camelCase {
  border: 3px solid #8839bd !important;
}

.styles__statsContainer___QnrRB-camelCase {
  border: 3px solid #8839bd !important;
}

.styles__infoContainer___2uI-S-camelCase {
  border: 3px solid #8839bd !important;
}

.styles__rightBackground___36mp5-camelCase {
  border: 3px solid #8839bd !important;
}

.styles__friendButton___gj4Ac-camelCase {
  background-color: #0b54fe !important;
}

.styles__chatInputContainer___gkR4A-camelCase {
  border: 3px solid #8839bd !important;
}

.styles__bazaarItems___KmNa2-camelCase {
  border: 3px solid #8839bd !important;
}

.styles__headerBadgeBg___12ogR-camelCase {
  border: 3px solid #8839bd !important;
}
