input {
  background-color: #8B0000 !important;
}

.styles__front___vcvuy-camelCase {
  background-color: #610000 !important;
}

.styles__edge___3eWfq-camelCase {
  background-color: #610000 !important;
}

.styles__front___vcvuy-camelCase {
  color: #EE4B2B !important;
}

.sexycontainer3 {
  background-color: #3D0303 !important;
}

.sexycontainer {
  background-color: #610000 !important;
}

.snipegui {
  background-color: #3D0303 !important;
}

.snipegui {
  border: 3px solid #EE4B2B !important;
}

#chatDiv {
  background-color: #3D0303 !important;
}

#chatDiv {
  border: 3px solid #EE4B2B !important;
}

.styles__background___2J-JA-camelCase {
  background-color: transparent !important;
}

.styles__background___2J-JA-camelCase {
  background: linear-gradient(90deg, rgba(61,3,3,1) 0%, rgba(184,0,0,1) 100%) !important;
}

.bb_chat_dl {
  background-color: #610000 !important;
}

.styles__sidebar___1XqWi-camelCase {
  background-color: #3D0303 !important;
}

.styles__statsContainer___QnrRB-camelCase {
  background-color: #3D0303 !important;
}

.styles__profileContainer___CSuIE-camelCase {
  background-color: #3D0303 !important;
}

.styles__containerHeader___3xghM-camelCase {
  background-color: #610000 !important;
}

.styles__containerHeaderInside___2omQm-camelCase {
  background-color: #610000 !important;
}

.styles__containerHeaderRightFriends___3xghM-camelCase {
  background-color: #610000 !important;
}

.styles__statContainer___QKuOF-camelCase {
  background-color: #610000 !important;
}

.styles__postsContainer___39_IQ-camelCase {
  background-color: #3D0303 !important;
}

.styles__cardContainer___NGmjp-camelCase {
  background-color: #3D0303 !important;
}

.styles__chatInputContainer___gkR4A-camelCase {
  background-color: #3D0303 !important;
}

.styles__header___2O21B-camelCase {
  background-color: #3D0303 !important;
}

.styles__chatEmojiButton___8RFa2-camelCase {
  background-color: #610000 !important;
}

.styles__container___1BPm9-camelCase {
  background-color: #3D0303 !important;
}

.styles__chatRooms___o5ASb-camelCase {
  background-color: #3D0303 !important;
}

.styles__editHeaderContainer___2G1ji-camelCase {
  background-color: #3D0303 !important;
}

.styles__containerHeaderRight___3xghM-camelCase {
  background-color: #610000 !important;
}

.styles__containerHeader___3xghM-camelCase {
  background-color: #610000 !important;
}

.styles__chatEmojiPickerBody___KR4aN-camelCase {
  background-color: #3D0303 !important;
}

.styles__chatEmojiPickerHeader___FK4Ac-camelCase {
  background-color: #610000 !important;
}

.styles__infoContainer___2uI-S-camelCase {
  background-color: #3D0303 !important;
}

.styles__profileDropdownOption___ljZXD-camelCase {
  background-color: #3D0303 !important;
}

.styles__blooksHolder___1skET-camelCase {
  background-color: #3D0303 !important;
}

.styles__container___3St5B-camelCase {
  background-color: #3D0303 !important;
}

.styles__blooketText___1pMBG-camelCase {
  color: #EE4B2B !important;
}

.styles__chatRoomsButton___K4ABa-camelCase:hover {
  background-color: #3D0303 !important;
}

hr {
  background-color: #EE4B2B !important;
}

.styles__chatRoomsTitle___fR4Av-camelCase {
  color: #EE4B2B !important;
}

.styles__chatEmojiPickerContainer___KR4aN-camelCase {
  background-color: #3D0303 !important;
}

.styles__tokenBalance___1FHgT-camelCase {
  background-color: #3D0303 !important;
}

.styles__instantButton___2ezEk-camelCase {
  background-color: #610000 !important;
}

.bb_packspam_btn {
  background-color: #610000 !important;
}

.styles__pageButton___1wFuu-camelCase:hover {
  background-color: #3D0303 !important;
}

.styles__pageText___1eo7q-camelCase {
  color: #EE4B2B !important;
}

.styles__settingButton___2xaQu-camelCase {
  background-color: #610000 !important;
}

.styles__settingButton___2xaQu-camelCase {
  color: #EE4B2B !important;
}

.styles__settingButton___2xaQu-camelCase {
  border: 3px solid #EE4B2B !important;
}

.styles__blooksHolder___3qZR1-camelCase {
  background-color: #3D0303 !important;
}

.toastMessage {
  background-color: #3D0303 !important;
}

.styles__header___WE435-camelCase {
  color: #EE4B2B !important;
}

.styles__header___22Ne2-camelCase {
  background-color: #3D0303 !important;
}

.styles__middleWrapper___hjUyY-camelCase {
  background-color: #3D0303 !important;
}

.styles__perkContainer___2rw2I-camelCase {
  background-color: #610000 !important;
}

.styles__plan___1OEy4-camelCase {
  background-color: #610000 !important;
}

.styles__planBackground___3Hn_x-camelCase {
  background-color: #610000 !important;
}

.styles__planTop___2JfpA-camelCase {
  background-color: #610000 !important;
}

.styles__planBackground___3Hn_x-camelCase {
  background: #610000 !important;
}

.styles__planButtonInside___wAgJI-camelCase {
  background: #610000 !important;
}

.styles__edge___3eWfq-camelCase {
  background: #610000 !important;
}

.styles__formsContainer___Fk4Av-camelCase {
  background-color: #3D0303 !important;
}

.styles__formsForm___MvA35-camelCase {
  background-color: #610000 !important;
}

.styles__chatCurrentRoom___MCaV4-camelCase {
  background-color: #3D0303 !important;
}

.styles__profileContainer___CSuIE-camelCase:hover>.styles__profileDropdownMenu___2jUAA-camelCase {
  background-color: #3D0303 !important;
}

.styles__headerSide___1r1-b-camelCase {
  background-color: #3D0303 !important;
}

.styles__signUpButton___3_ch3-camelCase {
  background-color: #3D0303 !important;
}

.styles__loginButton___1e3jI-camelCase {
  background-color: #3D0303 !important;
}

.styles__logoText___1eUDm-camelCase {
  color: transparent !important;
}

.plugin {
  background-color: #8b0000 !important;
}

.plugin {
  color: #301934 !important;
}

.styles__bazaarItems___KmNa2-camelCase {
  background-color: #3D0303 !important;
}

.styles__bazaarItem___Meg69-camelCase {
  background-color: #8b0000 !important;
}

.styles__pageButton___1wFuu-camelCase:hover {
  color: #3D0303 !important;
}

.styles__pageIcon___3OSy9-camelCase {
  color: #EE4B2B !important;
}

#bb_contextmenu {
  background-color: #3D0303 !important;
}

.styles__chatMessageMention___2Z1ZU-camelCase {
  background-color: #3D0303 !important;
}

.styles__chatMessageMention___2Z1ZU-camelCase {
  border: 3px solid #EE4B2B !important;
}

.styles__levelBar___2SU0x-camelCase {
  background-color: #3D0303 !important;
}

.styles__headerBadgeBg___12ogR-camelCase {
  background-color: #3D0303 !important;
}

.styles__left___9beun-camelCase {
  background-color: #3D0303 !important;
}

.styles__left___9beun-camelCase {
  border: 3px solid #EE4B2B !important;
}

.mo {
  background-color: #3D0303 !important;
}

.styles__container___2VzTy-camelCase {
  background-color: #3D0303 !important;
}

.styles__toastContainer___o4pCa-camelCase {
  background-color: #3D0303 !important;
}

.styles__tradingContainer___B1ABS-camelCase {
  background-color: #3D0303 !important;
}

.styles__myTokenAmount___ANKHA-camelCase {
  background-color: #8B0000 !important;
}

.styles__tokenBalance___1FHgT-camelCase {
  color: #EE4B2B !important;
}

.styles__otherTokenAmount___SEGGS-camelCase {
  background-color: #8B0000 !important;
}

.styles__profileDropdownOption___ljZXD-camelCase {
  color: #EE4B2B !important;
}

.styles__profileDropdownIcon___3iLIX-camelCase {
  color: #EE4B2B !important;
}

.styles__header___153FZ-camelCase {
  color: #EE4B2B !important;
}

.styles__blookGridContainer___AK47P-camelCase {
  background-color: #3D0303 !important;
}

.styles__verticalBlookGridLine___rQWaZ-camelCase {
  background-color: #8b0000 !important;
}

.styles__horizontalBlookGridLine___4SAvz-camelCase {
  background-color: #8b0000 !important;
}

.jscolor-wrap div {
  background-color: #3D0303 !important;
}

#formBody {
  background-color: #8B0000 !important;
}

#formBody {
  border: 3px solid #EE4B2B !important;
}

#formAge {
  border: 3px solid #EE4B2B !important;
}

#formDiscord {
  border: 3px solid #EE4B2B !important;
}

.toastMessage {
  border: 3px solid #EE4B2B !important;
}

.styles__chatRooms___o5ASb-camelCase {
  border: 3px solid #EE4B2B !important;
}

.styles__toastContainer___o4pCa-camelCase {
  border: 3px solid #EE4B2B !important;
}

.styles__profileContainer___CSuIE-camelCase {
  border: 3px solid #EE4B2B !important;
}

.styles__profileContainer___CSuIE-camelCase:hover,
.styles__profileDropdownMenu___2jUAA-camelCase {
  border: 3px solid #EE4B2B !important;
}

.styles__editHeaderContainer___2G1ji-camelCase {
  border: 3px solid #EE4B2B !important;
}

.styles__statsContainer___QnrRB-camelCase {
  border: 3px solid #EE4B2B !important;
}

.styles__infoContainer___2uI-S-camelCase {
  border: 3px solid #EE4B2B !important;
}

.styles__rightBackground___36mp5-camelCase {
  border: 3px solid #EE4B2B !important;
}

.styles__friendButton___gj4Ac-camelCase {
  background-color: #610000 !important;
}

.styles__chatInputContainer___gkR4A-camelCase {
  border: 3px solid #EE4B2B !important;
}

.styles__bazaarItems___KmNa2-camelCase {
  border: 3px solid #EE4B2B !important;
}

.styles__headerBadgeBg___12ogR-camelCase {
  border: 3px solid #EE4B2B !important;
}

.sendMsg {
  background-color: #3D0303 !important;
}

h1 {
  color: #EE4B2B !important;
}

.styles__plusButton___2dH73-camelCase {
  background: #610000 !important;
}

.styles__plusButton___2dH73-camelCase {
  color: #EE4B2B !important;
}

.styles__plusButton___2dH73-camelCase {
  border: 3px solid #EE4B2B !important;
}

.styles__bottomIcon___3Fswk-camelCase {
  color: #EE4B2B !important;
}

.styles__headerIcon___1ykdN-camelCase {
  color: #EE4B2B !important;
}

.styles__infoHeader___1lsZY-camelCase {
  color: #EE4B2B !important;
}

.styles__link___5UR6_-camelCase {
  color: #EE4B2B !important;
}

.styles__text___1x37n-camelCase {
  color: #EE4B2B !important;
}

.sendMsg {
  border: 3px solid #EE4B2B !important;
}

.styles__containerHeaderInside___2omQm-camelCase {
  color: #EE4B2B !important;
}

.styles__statNum___5RYSd-camelCase {
  color: #EE4B2B !important;
}

.styles__statTitle___z4wSV-camelCase {
  color: #EE4B2B !important;
}

.styles__headerButtonInside___26e_U-camelCase {
  color: #EE4B2B !important;
}

.styles__chatInputBox___fvMA4-camelCase {
  background-color: #3D0303 !important;
}

.styles__chatEmojiButton___8RFa2-camelCase {
  border: 2px solid #EE4B2B !important;
}

.styles__chatEmojiButton___8RFa2-camelCase {
  color: #EE4B2B !important;
}

.bb_chat_dl {
  color: #EE4B2B !important;
}

.bb_chat_dl {
  border: 2px solid #EE4B2B !important;
}

#op1 {
  border: 3px solid #EE4B2B !important;
}

#op2 {
  border: 3px solid #EE4B2B !important;
}

.styles__text___KSL4--camelCase {
  color: #EE4B2B !important;
}

.styles__chatRoomsButton___K4ABa-camelCase {
  color: #EE4B2B !important;
}

.styles__header___2O21B-camelCase {
  color: #EE4B2B !important;
}

.styles__header___kLT5x-camelCase {
  color: #EE4B2B !important;
}

.styles__text___1L6DW-camelCase {
  color: #EE4B2B !important;
}

.styles__dateRow___1jkQT-camelCase {
  color: #EE4B2B !important;
}

.styles__cardContainer___NGmjp-camelCase {
  border: 3px solid #EE4B2B !important;
}

.styles__header___2O21B-camelCase {
  border: 3px solid #EE4B2B !important;
}

.styles__postsContainer___39_IQ-camelCase {
  border: 3px solid #EE4B2B !important;
}

.styles__front___vcvuy-camelCase {
  border: 3px solid #EE4B2B !important;
}

.styles__containerHeader___3xghM-camelCase {
  border: 3px solid #EE4B2B !important;
}

.styles__containerHeaderRightFriends___3xghM-camelCase {
  border: 3px solid #EE4B2B !important;
}

.styles__container___1BPm9-camelCase {
  border: 3px solid #EE4B2B !important;
}

.styles__friendButton___gj4Ac-camelCase {
  background-color: #3D0303 !important;
}

.styles__friendButton___gj4Ac-camelCase {
  border: 3px solid #EE4B2B !important;
}

.styles__friendButton___gj4Ac-camelCase {
  color: #EE4B2B !important;
}

.sexycontainer3 {
  border: 3px solid #EE4B2B !important;
}

.styles__sidebar___1XqWi-camelCase {
  border: 3px solid #EE4B2B !important;
}

.styles__chatEmojiPickerBody___KR4aN-camelCase {
  border: 3px solid #EE4B2B !important;
}

.styles__chatEmojiPickerHeader___FK4Ac-camelCase {
  color: #EE4B2B !important;
}

.styles__chatEmojiPickerHeader___FK4Ac-camelCase {
  border: 3px solid #EE4B2B !important;
}

input.noplace {
  border: 3px solid #EE4B2B !important;
}

input.noplace {
  background-color: #3D0303 !important;
}

.jscolor {
  border: 3px solid #EE4B2B !important;
}

.jscolor-border {
  border: 3px solid #EE4B2B !important;
}

input {
  background-color: #3D0303 !important;
}

.styles__container___2VzTy-camelCase {
  border: 3px solid #EE4B2B !important;
}

.styles__containerHeader___19fyc-camelCase {
  color: #EE4B2B !important;
}

.styles__iconFilled___1uSeW-camelCase {
  color: #EE4B2B !important;
}

.styles__buttonFilled___23Dcn-camelCase {
  color: EE4B2B !important;
}

.styles__buttonFilled___23Dcn-camelCase {
  border: 3px solid #EE4B2B !important;
}

.styles__header___22Ne2-camelCase {
  border: 3px solid #EE4B2B !important;
}

.styles__headerRight___nPb83-camelCase {
  color: #EE4B2B !important;
}

.styles__statContainer___QKuOF-camelCase {
  border: 3px solid #EE4B2B !important;
}

.sexycontainer {
  border: 3px solid #EE4B2B !important;
}

.styles__container___3St5B-camelCase {
  border: 3px solid #EE4B2B !important;
}

.styles__toastTitle___39Rac-camelCase {
  color: #EE4B2B !important;
}

.styles__toastMessage___xar43-camelCase {
  color: #EE4B2B !important;
}

.snipecloser {
  color: #EE4B2B !important;
}

.styles__formsForm___MvA35-camelCase {
  border: 3px solid #EE4B2B !important;
}

#amountOfResults {
  color: #EE4B2B !important;
}

#amountOfResults {
  background-color: #3D0303 !important;
}

#amountOfResults {
  border: 3px solid #EE4B2B !important;
}

.styles__formsContainer___Fk4Av-camelCase {
  border: 3px solid #EE4B2B !important;
}

.styles__buttonInside___39vdp-camelCase {
  color: #EE4B2B !important;
}

p {
  color: #EE4B2B !important;
}

.styles__topStats___3qffP-camelCase {
  color: #EE4B2B !important;
}

.styles__containerHeaderRight___3xghM-camelCase {
  border: 3px solid #EE4B2B !important;
}

a {
  color: #EE4B2B !important;
}

.styles__smallChatContainer__RT55a-camelCase {
  border: 3px solid #EE4B2B !important;
}

.styles__blookGridContainer___AK47P-camelCase {
  border: 3px solid #EE4B2B !important;
}

.styles__tradingContainer___B1ABS-camelCase {
  border: 3px solid #EE4B2B !important;
}

.styles__numTotal___3LQaw-camelCase {
  color: #EE4B2B !important;
}

.styles__input___2vJSW-camelCase {
  color: #EE4B2B !important;
}

.styles__input___2vJSW-camelCase {
  border: 3px solid #EE4B2B !important;
}

.styles__otherTokenAmount___SEGGS-camelCase {
  border: 3px solid #3D0303 !important;
}

.styles__myTokenAmount___ANKHA-camelCase {
  border: 3px solid #3D0303 !important;
}

#sexySearchBar {
  border: 3px solid #EE4B2B !important;
}

.styles__notificationIndicator___4kvmA-camelCase {
  background-color: #3D0303 !important;
}

.styles__notificationIndicator___4kvmA-camelCase {
  color: #EE4B2B !important;
}

.styles__notificationIndicator___4kvmA-camelCase {
  border: 3px solid #EE4B2B !important;
}

.styles__left___9beun-camelCase {
  color: #EE4B2B !important;
}

.styles__rightButtonInside___14imT-camelCase {
  color: #EE4B2B !important;
}

.styles__bazaarItemAuthor___Fk3A1-camelCase {
  color: #EE4B2B !important;
}

.styles__bazaarItemPrice___KG4aZ-camelCase {
  color: #EE4B2B !important;
}

.styles__bazaarItem___Meg69-camelCase {
  border: 3px solid #EE4B2B !important;
}

.styles__tokenBalance___1FHgT-camelCase {
  border: 3px solid #EE4B2B !important;
}

.styles__welcomeText___30V14-camelCase {
  color: #EE4B2B !important;
}

.styles__logoText___1eUDm-camelCase {
  color: #EE4B2B !important;
}

.styles__welcomeDesc___OyjZk-camelCase {
  color: #EE4B2B !important;
}

.styles__pronounceButton___3lV1b-camelCase {
  color: #EE4B2B !important;
}

.styles__welcomeButton___39pgl-camelCase {
  border: 3px solid #EE4B2B !important;
}

.styles__welcomeButton___39pgl-camelCase:hover {
  background: #3D0303 !important;
}

.styles__signUpButton___3_ch3-camelCase {
  border: 3px solid #EE4B2B !important;
}

.styles__loginButton___1e3jI-camelCase {
  border: 3px solid #EE4B2B !important;
}

.styles__copyrightInformation___f4Dky-camelCase {
  color: #EE4B2B !important;
}

.styles__versionInformation___rk3A2-camelCase {
  color: #EE4B2B !important;
}

.styles__bazaarResultsText___g4Sxn-camelCase {
  color: #EE4B2B !important;
}

.styles__bazaarSelector___Fk3Av-camelCase {
  border: 3px solid #EE4B2B !important;
}

.styles__bazaarSelectorItems___KmNa2-camelCase {
  border: 3px solid #EE4B2B !important;
}

.styles__instantButton___2ezEk-camelCase {
  color: #EE4B2B !important;
}

.styles__instantButton___2ezEk-camelCase {
  border: 3px solid #EE4B2b !important;
}

.bb_packspam_btn {
  color: #EE4B2B !important;
}

.bb_packspam_btn {
  border: 3px solid #EE4B2B !important;
}

.styles__planPrice___2fwN6-camelCase {
  color: #EE4B2B !important;
}

.styles__planTop___2JfpA-camelCase {
  color: #EE4B2B !important;
}

.styles__planDetail___V2tYJ-camelCase {
  color: #EE4B2B !important;
}

.styles__planSpacer___LF8cN-camelCase {
  background-color: #EE4B2B !important;
}

.styles__plan___1OEy4-camelCase,
.styles__planBackground___3Hn_x-camelCase {
  border: 3px solid #EE4B2B !important;
}

.styles__planTop___2JfpA-camelCase {
  border: 3px solid #EE4B2B !important;
}

.styles__middleHeader___1knI4-camelCase {
  color: #EE4B2B !important;
}

.styles__perkIcon___3Ke37-camelCase {
  color: #EE4B2B !important;
}

.styles__perkTitle___3vmIt-camelCase {
  color: #EE4B2B !important;
}

.styles__perkInfo___1jvHA-camelCase {
  color: #EE4B2B !important;
}

.styles__perkContainer___2rw2I-camelCase,
.styles__perkIcon___3Ke37-camelCase {
  border: 3px solid #EE4B2B !important;
}

.styles__middleWrapper___hjUyY-camelCase {
  border: 3px solid #EE4B2B !important;
}

.styles__chatCurrentRoom___MCaV4-camelCase {
  color: #EE4B2B !important;
}

.styles__chatCurrentRoom___MCaV4-camelCase {
  border: 3px solid #EE4B2b !important;
}

.styles__rateIcon___11Qwv-camelCase:hover {
  color: #EE4B2B !important;
}

.styles__formsFormUsername___Vamr4-camelCase {
  color: #EE4B2B !important;
}

.styles__formsFormDiscord___r94MV-camelCase {
  color: #EE4B2B !important;
}

.styles__formsFormBody___wRo5A-camelCase {
  color: #EE4B2B !important;
}

#pageNumber {
  color: #EE4B2B !important;
}
